{{! <p>Welcome to {{title}\}</p> }}
<html>

<head>
  <meta charset="utf-8">
  <title>HoloNFT</title>
  {{!
  <script language="javascript" src="javascripts/particle.min.js"></script> }}
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <script src="javascripts/three-combined-v1.2.js"></script>
  <script src="javascripts/stl_loader.js"></script>
  <script src="javascripts/orbit-controls.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N9K0W0MY3L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

  <body>
    <div id="particles-js"></div>
      <h1>HoloNFT</h1>
      <div class="description">
        {{! 3D NFTs! }}
      </div>
      <br>
      <br>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="encryption container-md op p-3 my-3 bg-primary text-white">
              <div class="encryption-uploads">
                <label for="carrier-upload">Upload a PNG image to store your hologram</label>
                <input type="file" class="form-control" id="carrier-upload" name="message" size="25">
                <br>
                <br>
                <label for="STL-upload">Upload a 3D file to pack (STL format)</label>
                <input type="file" class="form-control" id="STL-upload" name="message" size="25">
                <br>
                <br>
                <div id="downloads" style="visibility:hidden;">
                  <a id="nft_download_btn" name="message" size="25">
                    Download your HoloNFT
                  </a>
                  <br>
                  <br>
                  <a id="key_download_btn" name="message" size="25">
                    Download your HoloNFT Key
                  </a>
                </div>
              </div>
              <br><br>
              <input class="encrypt-button btn-primary" type="button" value="Encrypt">
            </div>
            <br><br><br><br>
            <div class="decryption container-md op p-3 my-3 bg-primary text-white">
              <div class="decryption-uploads">
                <label for="upload-nft">Upload a HoloNFT</label>
                <input type="file" class="form-control" id="upload-nft" name="message" size="25">
                <br>
                <br>
                <label for="upload-key">Upload secret key for HoloNFT</label>
                <input type="file" class="form-control" id="upload-key" name="message" size="25">
              </div>
              <br><br>
              <input class="decrypt-button btn-primary" type="button" value="Decrypt">
            </div>
          </div>
          <br><br>
          <input class="encrypt-button btn-primary" type="button" value="Encrypt">
        </div>
        <br><br><br><br>
        <div class="decryption container-md op p-3 my-3 bg-primary text-white">
          <div class="decryption-uploads">
            <label for="upload-nft">Upload a HoloNFT</label>
            <input type="file" class="form-control" id="upload-nft" name="message" size="25">
          </div>
          <br><br>
          <input onclick="on()" type="button" value="Build 3D">
        </div>
      </div>
      <div class="HoloNFT col-lg-6">
        <div id="download">
          <div id="door_overlay" ondblclick="off()">
            <div class="bgimgdv op p-3 my-3 bg-primary text-white">
              <label for="upload-key">Upload secret key for HoloNFT</label>
              <input type="file" class="form-control" id="upload-key" name="message" size="25">
              <input class="decrypt-button btn-primary" type="button" value="Decrypt" onclick="openDoor()">
            </div>
          </div>
          <div id="overlay" ondblclick="door_off()" class="bgimg">
            <div id="model" style="width: 500px; height: 500px"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
<script language="javascript" src="javascripts/custom-particle.js"></script>
<script src="javascripts/crypt.js"></script>
<script src="javascripts/stl_render.js"></script>
<script src="javascripts/overlay.js"></script>

</html>